<!DOCTYPE html>
<html>
  <head>
    <title>Neilgotcharmed</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div className="ngc-body-container">
      <div className="ngc-header-container">
        <%= react_component 'NavBarHeader' %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
